<%= form_tag({:controller => 'watch_lists', :action => 'destroy'}, :method => 'delete', 
    :remote => false) do %>
  <div>
    <%= hidden_field_tag :item_id, item.id %>
  </div>
  <div>
    <%= submit_tag "Unwatch", class: 'btn' %>
  </div>
<% end %>


