<div>
<% if @user_items_for_sale.empty? %>
  <span>No items for sale.</span>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>
          Item
        </th>
        <th>
          Price
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
    <% @user_items_for_sale.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.is_sold ? 'Sold' : 'On Sale' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>
