<div class="plans-container box-wrap">
  <div class="plans box">
    <h2>Plans & Pricing</h2>
    <div class="current-plans clearfix">
      <h3>Your Current Plan(s)</h3>
      <div class="plan-box buyer pull-left">
        <h4>BUYER: FREE SHIPPING</h4>
        <p class="price">$ 10 / month</p>
        <ul class="capabilities">
          <li>Unlimited Bids</li>
          <li>Unlimited Watchlist Items</li>
          <li>Free Shipping (3 - 7 days)</li>
        </ul>
        <p class="actions"><a href="#" class="btn deactivate">Deactivate</a></p>
      </div>
      <div class="plan-box seller pull-left">
        <h4>SELLER: MACCHA BRONZE</h4>
        <p class="price">$ 15 / month</p>
        <ul class="capabilities">
          <li>Blah blah blah blah</li>
          <li>Blah blah</li>
          <li>Blah blah blah</li>
        </ul>
        <p class="actions"><a href="#" class="btn deactivate">Deactivate</a></p>
      </div>
      <div class="plan-box billing pull-right">
        <h4>BILLING INFO</h4>
        <p class="date">
          You will be billed on:
          <strong class="nextbill">Nov 12, 2012</strong>
        </p>
        <!--
        <p class="card"><strong>American Express</strong> ending in <strong>1018</strong></p>
        -->
        <p class="card"><img src="http://pics.ebaystatic.com/aw/pics/logos/logoPayPal_51x14.gif" alt="PayPal"> <strong>account@paypal.com</strong></p>
        <p class="actions"><a href="#" class="btn change-billing">Change</a>&nbsp;&nbsp;
        <a href="#" class="btn remove-billing">Remove</a></p>
      </div>
    </div>
    <div class="buyer-plans clearfix">
      <h3>Buyer Plans</h3>
      <div class="plan buyer-plan">
      </div>
    </div>
    <div class="seller-plans clearfix">
      <h3>Seller Plans</h3>
      <div class="plan seller-plan">
      </div>
    </div>
    <!--
    <div class="billing">
      <h3>Your Billing Information</h3>
    </div>
    -->
  </div>
</div>

