@import 'bootstrap';

body {
  background-color: #fffff9;
}
a {
  color: #628316;
  text-decoration: none;
}
a:hover {
  color: #2c3a0a;
  text-decoration: none;
}
.wrapper {
  background: #fffff9 url(image_path('body-texture.png')) repeat 0 0;
}
.main-hd {
  font-size: 14px;
  border-bottom: 1px solid #628316;
}
.main-hd .header-nav {
  padding: 3px 0;
  min-height: 30px;
  color: #FFF;
  border-bottom: 2px solid #A0C443;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background: #3C3C3C;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3c3c3c), to(#2e2e2e));
  background-image: -webkit-linear-gradient(top, #3c3c3c, #2e2e2e);
  background-image: -o-linear-gradient(top, #3c3c3c, #2e2e2e);
  background-image: linear-gradient(to bottom, #3c3c3c, #2e2e2e);
  background-image: -moz-linear-gradient(top, #3c3c3c, #2e2e2e);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.main-hd .brand {
  float: left;
  width: 10%;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  color: #B6DF66;
}
.main-hd .brand a {
  color: #B6DF66;
}
.main-hd .search-form {
  float: left;
  margin-left: 20%;
}
.main-hd #item-search {
  width: 310px;
  margin: 0 auto;
}
.main-hd .user-actions {
  width: 200px;
  float: right;
}
.main-hd .user-menu {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}
.main-hd .user-menu .dropdown-menu a:hover {
  background-color: #667F27;
  background-image: none;
}
.main-hd .action {
  color: #B6DF66;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
  padding: 4px 10px;
  text-shadow: 1px 1px 1px #3C4F0F;
}
.main-hd .action:hover {
  color: #FFF;
  text-decoration: none;
}
.main-hd .action:hover .caret {
  border-top: 4px solid #FFF;
}
.main-hd .action .caret {
  font-size: 0;
  margin-top: 8px;
  border-top: 4px solid #b6df66;
}
.main-bd {
  padding-top: 1px;
}
.main-bd .main-container {
  margin: 90px auto 50px;
  // background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.main-bd .featured {
  // margin: 90px 0 50px;
}
.main-bd .info {
  color: #36291C;
  padding: 30px 0;
  background-color: #fffff9;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.025);
  border: 1px solid #D4D4D4;
  border-left: 0;
  border-right: 0;
}
.main-bd .info h3 {
  color: #738f32;
  font-size: 18px;
}
.main-bd .box {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 6px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 6px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 6px rgba(0, 0, 0, 0.02);
}
.slide {
  position: relative;
  z-index: 0;
  padding: 40px;
}
.slide .slide-title {
  color: #FFF;
  margin: 0px -44px 40px;
  padding: 0 52px;
  position: relative;
  background: #7FA92D;
  background: -moz-radial-gradient(#7fa92d, #6e981c);
  background: -webkit-gradient(radial, center center, 0, center center, 400.5, from(#7fa92d), to(#6e981c));
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.slide .slide-title:before {
  border-width: 24px;
  left: -32px;
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  border: 20px solid #5D870B;
  border-right-width: 16px !important;
  border-left-color: transparent;
  z-index: -3;
}
.slide .slide-title:after {
  border-width: 24px;
  right: -32px;
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  border: 20px solid #5D870B;
  border-left-width: 16px !important;
  border-right-color: transparent;
  z-index: -3;
}
.slide .goto {
  text-decoration: none;
  opacity: 0.3;
  display: block;
  width: 31px;
  height: 46px;
  background: url(image_path('arrows.png')) no-repeat 0 0;
  position: absolute;
  top: 50%;
  margin: -10px 9px 0;
}
.slide .goto.prev {
  left: 0;
  background-position: 0 -46px;
}
.slide .goto.next {
  right: 0;
}
.slide .goto:hover {
  text-decoration: none;
  opacity: 0.6;
}
.slide .goto.disabled {
  display: none;
}
.slide .slide-content {
  overflow: hidden;
  position: relative;
  padding: 15px 5px 5px;
}
.slide .itemlist {
  position: relative;
  list-style: none;
  margin: 0;
  width: 5000px;
}
.slide .itemlist .item {
  float: left;
  margin: 0 20px 0 0;
  width: 260px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  background-color: #FAFAFA;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: -12px;
}
.slide .itemlist .item:nth-child(3n+2) {
  margin-top: 12px;
}
.slide .itemlist .item a {
  display: block;
  color: #2c3a0a;
}
.slide .itemlist .item a:hover {
  color: #628316;
}
.slide .itemlist .item-img {
  padding: 2px;
}
.slide .itemlist .item-img img {
  // width: 270px;
  // height: 170px;
  width: 256px;
  height: 256px;
}
.slide .itemlist .item-info {
  margin: 0 5px;
  padding: 5px 1px;
  height: 50px;
  overflow: hidden;
}
.slide .itemlist .item-info p {
  margin: 5px 0;
}
.slide .itemlist .item-info .name {
  font-weight: 700;
}
.slide .itemlist .item-info .price {
  position: absolute;
  left: 7px;
  top: 2px;
  height: 20px;
  line-height: 20px;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #740000;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-weight: 700;
  font-size: 14px;
}
.slide .slide-control {
  float: right;
  padding: 10px 15px;
  background-color: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #ffffff;
  -moz-box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #ffffff;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #ffffff;
}
.slide .slide-control .control {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  text-indent: -9999em;
  background: url(image_path('icons.png')) no-repeat 0 -235px;
  opacity: 0.8;
}
.slide .slide-control .control:hover {
  opacity: 0.5;
}
.slide .slide-control .control.active {
  background-position: 0 -256px;
}
.main-ft {
  color: #bccf81;
  background-color: #36291c;
  background-color: #252525;
  padding: 25px;
  font-size: 12px;
  font-family: Georgia, Times, serif;
  font-style: italic;
}

