div.user-container {
  div.user-detail {
    padding: 20px;

    div.user-basic {
      div.user-info table th {
        padding-left: 0px;
      }
    }
  }
}

.user-form {
  width: 394px;
  margin: 0 auto;
}
.user-form, .plans {
  padding: 20px 30px;
}
.user-form input[type="text"] {
  // width: 300px;
}

.plans {
  color: #444;
}
.plans h2 {
  font-weight: normal;
  font-size: 24px;
  border-bottom: 1px solid #E5E5E5;
}
.plans h3 {
  // font-weight: normal;
  font-size: 18px;
}
.plans h4 {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #E5E5E5;
  color: #2c3a0a;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  // font-variant:small-caps;
}
.plans p {
  margin: 8px 0;
}
.plans .plan-box {
  width: 250px;
  // min-height: 174px;
  margin-right: 23px;
  padding: 5px 14px;
  position: relative;
  overflow: hidden;
  background-color: #FAFAFA;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.plans .plan-box:last-child {
  margin-right: 0;
}
.plans .billing {
  // text-align: center;
}
.plans .billing .actions {
  margin-top: 18px;
}
.plans .nextbill {
  font-weight: bold;
}
.plans .capabilities {
  list-style: inside circle;
  margin: 0;
  // padding: 0;
  padding: 7px 9px;
  color: #000;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.2);
  border-right-color: rgba(0,0,0,0.1);
  border-bottom-color: rgba(0,0,0,0.05);
  border-radius: 4px;
}
.plans .capabilities li {
  margin-bottom: 5px;
}
.plans .capabilities li:last-child {
  margin-bottom: 0;
}
.plans .actions {
  text-align: center;
}
.plans .plan {
  // float: left;
  // width: 250px;
  // margin-right: 22px;
  // padding: 5px 14px;
  // position: relative;
  // overflow: hidden;
  // min-height: 163px;
  // border: 1px solid rgba(0,0,0,.1);
  // color: #000;
  // background: #666 url(image_path('plan-bg.png'));
  // -moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  // -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
  // box-shadow: 0 2px 2px rgba(0,0,0,.15);
  // -webkit-border-radius: 4px;
  // -moz-border-radius: 4px;
  // border-radius: 4px;
}
.buyer-plans, .seller-plans {
  margin-top: 30px;
}
.plans .buyer-plan {
  // background-color: #c5e8f1;
}
.plans .seller-plan {
  // background-color: #eaf5fa;
}
.plans .price {
  position: absolute;
  top: 0;
  right: 10px;
  width: 64px;
  height: 30px;
  line-height: 25px;
  vertical-align: top;
  overflow: hidden;
  // background-color: rgba(255, 255, 255, 0.8);
  // background-color: #ddd;
  // border-radius: 4px;
  font-size: 12px;
  color: #777;
  text-align: right;
}
.plans .price strong {
  font-size: 24px;
  line-height: 30px;
  color: #740000;
  margin-left: 1px;
}
.plans .price em {
  font-size: 11px;
  font-style: normal;
  margin-left: 2px;
}

.billing-dlg .modal-footer span {
  line-height: 30px;
  margin-right: 10px;
  color: #888;
}
.billing-dlg form {
  margin: 0;
}
.billing-dlg .modal-body {
  margin: 8px 25px 0;
}
.billing-dlg .modal-body .plan,
.billing-dlg .modal-body .item {
  padding: 10px 20px;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.35), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.35), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025), 0 0 3px 0 rgba(0, 0, 0, 0.35), inset 0 0 0 4px rgba(0, 0, 0, 0.02);
}

